workflows/GDrive_openworksheet_upload.json
{
  "createdAt": "2025-10-13T20:14:42.521Z",
  "updatedAt": "2025-10-13T20:14:42.521Z",
  "id": "NT4q1dgTH0FdskIJ",
  "name": "GDrive_openworksheet_upload",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "start-trigger",
      "name": "Start",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -400,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "parameters": {
        "jsCode": "// Validate and prepare input parameters\nconst { parentId, folderName, fileUrl, fileName } = $json;\n\n// Validate required parameters\nif (!parentId) throw new Error('parentId is required');\nif (!folderName) throw new Error('folderName is required');\nif (!fileUrl) throw new Error('fileUrl is required');\n\n// Enhanced filename extraction from URL\nfunction extractFileName(url) {\n  try {\n    const urlObj = new URL(url);\n    const pathname = urlObj.pathname;\n    const lastSegment = pathname.split('/').filter(Boolean).pop() || '';\n    \n    // Decode URL encoding\n    const decoded = decodeURIComponent(lastSegment);\n    \n    // If no extension, try to get from query params or default\n    if (!decoded.includes('.')) {\n      return decoded || 'downloaded_file';\n    }\n    \n    return decoded;\n  } catch(e) {\n    return 'downloaded_file';\n  }\n}\n\n// Use provided fileName or extract from URL\nconst finalFileName = fileName || extractFileName(fileUrl);\n\nreturn [{ \n  json: { \n    parentId, \n    folderName, \n    fileUrl, \n    fileName: finalFileName,\n    originalFileName: fileName // Keep original for reference\n  } \n}];"
      },
      "position": [
        -200,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "find-folder",
      "name": "Find Folder",
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ `name='${$json.folderName.replace(/'/g, \"\\\\'\")}' and mimeType='application/vnd.google-apps.folder' and trashed=false and '${$json.parentId}' in parents` }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8rSm3dJNel8Qc1SP",
          "name": "Google Drive"
        }
      }
    },
    {
      "id": "folder-exists-check",
      "name": "Folder Exists?",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $items(\"Find Folder\").some(i => i.json?.id) }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "folder-check-condition"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "position": [
        200,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "use-existing-folder",
      "name": "Use Existing Folder",
      "parameters": {
        "jsCode": "const id = $input.first().json.id;\nif (!id) throw new Error('Folder not found in search');\nreturn [{ json: { folderId: id } }];"
      },
      "position": [
        400,
        -100
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "create-folder",
      "name": "Create Folder",
      "parameters": {
        "resource": "folder",
        "name": "={{ $items(\"Validate Input\")[0].json.folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items(\"Validate Input\")[0].json.parentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "position": [
        400,
        100
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8rSm3dJNel8Qc1SP",
          "name": "Google Drive"
        }
      }
    },
    {
      "id": "get-folder-id",
      "name": "Get Folder ID",
      "parameters": {
        "jsCode": "// Get folder ID from either existing or newly created folder\nif ($json.folderId) return [{ json: { folderId: $json.folderId } }];\nif ($json.id) return [{ json: { folderId: $json.id } }];\nthrow new Error('No folderId available');"
      },
      "position": [
        600,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "download-file",
      "name": "Download File",
      "parameters": {
        "method": "GET",
        "url": "={{ $items(\"Validate Input\")[0].json.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "downloadedFile"
            }
          },
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxRetries": 2
          }
        }
      },
      "position": [
        800,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-download-success",
      "name": "Check Download Success",
      "parameters": {
        "jsCode": "const downloadResult = $input.first();\n\n// Check if download was successful\nconst hasBinary = !!(downloadResult.binary?.downloadedFile?.data || downloadResult.binary?.downloadedFile?.filePath);\nconst hasError = !!downloadResult.error;\n\nif (hasError || !hasBinary) {\n  // Download failed - return error response\n  return [{\n    json: {\n      status: 'done',\n      downloaded: false,\n      link_to_drive: null,\n      error: downloadResult.error || 'No binary data received',\n      fileUrl: $items('Validate Input')[0]?.json?.fileUrl,\n      fileName: $items('Validate Input')[0]?.json?.fileName,\n      folderId: $items('Get Folder ID')[0]?.json?.folderId\n    }\n  }];\n} else {\n  // Download successful - pass through with success flag\n  return [{\n    json: {\n      downloadSuccess: true,\n      fileUrl: $items('Validate Input')[0]?.json?.fileUrl,\n      fileName: $items('Validate Input')[0]?.json?.fileName,\n      folderId: $items('Get Folder ID')[0]?.json?.folderId\n    },\n    binary: downloadResult.binary\n  }];\n}"
      },
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "prepare-upload",
      "name": "Prepare Upload",
      "parameters": {
        "jsCode": "// Prepare file for upload with proper naming\nconst input = $input.first();\nconst folderId = input.json.folderId;\nconst fileName = input.json.fileName;\n\nif (!folderId) throw new Error('No folderId available');\n\n// Get binary data from download result\nconst binary = input.binary?.downloadedFile;\nif (!binary || (!binary.data && !binary.filePath)) {\n  throw new Error('No binary data available');\n}\n\n// Ensure file has proper extension\nlet finalFileName = fileName;\nif (!/\\.[a-z0-9]+$/i.test(finalFileName)) {\n  const ext = binary.fileExtension || (binary.mimeType?.split('/')[1]) || 'bin';\n  finalFileName = `${fileName}.${ext}`;\n}\n\n// Copy binary data to prevent loss\nconst copy = JSON.parse(JSON.stringify(binary));\n\nreturn [{\n  json: { \n    folderId, \n    fileName: finalFileName \n  },\n  binary: { downloadedFile: copy }\n}];"
      },
      "position": [
        1200,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "upload-file",
      "name": "Upload File",
      "parameters": {
        "inputDataFieldName": "downloadedFile",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "position": [
        1400,
        0
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8rSm3dJNel8Qc1SP",
          "name": "Google Drive"
        }
      }
    },
    {
      "id": "set-permissions",
      "name": "Set Permissions",
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "position": [
        1600,
        0
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8rSm3dJNel8Qc1SP",
          "name": "Google Drive"
        }
      }
    },
    {
      "id": "build-response",
      "name": "Build Response",
      "parameters": {
        "jsCode": "// Build final response with all required fields\nconst input = $input.first();\nconst fileId = input.json.id;\n\nif (!fileId) {\n  return [{ \n    json: { \n      status: 'done',\n      downloaded: false,\n      link_to_drive: null,\n      error: 'No file ID from upload',\n      fileUrl: $items('Validate Input')[0]?.json?.fileUrl,\n      fileName: $items('Validate Input')[0]?.json?.fileName\n    } \n  }];\n}\n\n// Build Google Drive URLs\nconst driveViewUrl = `https://drive.google.com/uc?export=view&id=${fileId}`;\nconst driveDirectUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\nreturn [{ \n  json: { \n    status: 'done',\n    downloaded: true,\n    link_to_drive: driveViewUrl,\n    fileId: fileId,\n    folderId: $items('Get Folder ID')[0]?.json?.folderId,\n    driveDirectUrl: driveDirectUrl,\n    fileUrl: $items('Validate Input')[0]?.json?.fileUrl,\n    fileName: $items('Validate Input')[0]?.json?.fileName\n  } \n}];"
      },
      "position": [
        1800,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Find Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Folder": {
      "main": [
        [
          {
            "node": "Folder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Folder": {
      "main": [
        [
          {
            "node": "Get Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Get Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Check Download Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Download Success": {
      "main": [
        [
          {
            "node": "Prepare Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Set Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Permissions": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "29f11610-3d50-432d-ab02-34f0c916a383",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-13T20:14:42.521Z",
      "updatedAt": "2025-10-13T20:14:42.521Z",
      "role": "workflow:owner",
      "workflowId": "NT4q1dgTH0FdskIJ",
      "projectId": "q3w2LTZBOQaMnapN",
      "project": {
        "createdAt": "2025-06-19T19:10:02.873Z",
        "updatedAt": "2025-06-19T19:27:56.091Z",
        "id": "q3w2LTZBOQaMnapN",
        "name": "Mykhailo Bielov <mic.belov@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-19T19:10:02.873Z",
            "updatedAt": "2025-06-19T19:10:02.873Z",
            "userId": "d77898c9-3f06-4caf-bb7c-709eb64519d3",
            "projectId": "q3w2LTZBOQaMnapN",
            "user": {
              "createdAt": "2025-06-19T19:09:59.870Z",
              "updatedAt": "2025-10-13T17:30:51.989Z",
              "id": "d77898c9-3f06-4caf-bb7c-709eb64519d3",
              "email": "mic.belov@gmail.com",
              "firstName": "Mykhailo",
              "lastName": "Bielov",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-19T19:28:25.666Z",
                "personalization_survey_n8n_version": "1.98.2",
                "companySize": "<20",
                "companyType": "education",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "8HqEBFxiW4D0JcNZ",
                "userActivatedAt": 1755203494225,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1751139170083
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
